mixin attachment(post)
  - var thumb = BASE_URL + "/static/" + thread.board + "/" + thread.thread + "/" + post.tim + "s.jpg";
  - var url = BASE_URL + "/static/"  + thread.board + "/" + thread.thread + "/" + post.tim + post.ext;
  .post-attachment.flex.flex-col.items-center
    case post.ext

      when '.png'
      when '.jpg'
      when '.jpeg'
      when '.gif'
        img.post-image(src=thumb, data-thumb=thumb, data-full=url, alt="", onclick="toggleImage(this)")
        - break

      when '.webm'
        video(controls, width="250").post-video
          source(src=url type="video/webm")
        - break

      when '.flv'
        - break

    figure.font-xs.text-white-2=post.filename + post.ext + " "
      span="(" + (post.fsize / 1000).toFixed() + "kb)"
