<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Archivist || Archive
    link(rel="stylesheet", href="/styles/styles.css")
    link(rel="stylesheet", href="/styles/archive.css")
  body

    .archive-page
      .threads
        each thread in threads.items
          - var post = thread.posts[0];
          .thread
            a(href="/archive/" + thread.board + "/" + thread.thread)
              img.thread-image(height=post.tn_h / 2, width=post.tn_w / 2 src="https://i.4cdn.org/" + thread.board + "/" + post.tim + "s.jpg", alt="").thumbnail
            .thread-name=post.name
            if post.sub
              .thread-subject=post.sub
            if post.com
              .thread-content.no-scrollbars!=post.com
            .thread-meta
              .thread-replies [R: #{post.replies}]
              .thread-images [I: #{post.images}]
              .thread-uniques [U: #{post.unique_ips}]
