extends _layout
include ./components/thread

block append styles
  link(rel="stylesheet", href="/styles/thread.css")

block append content
  .thread-page
    .thread-header
      .title
        span.thread-board="/" + thread.board + "/"
        span.thread-id=thread.thread
    .thread-meta
      span="Archived on "
        time(datetime=thread.createdAt)=thread.createdAt
      span="Updated on " + thread.updatedAt
    +thread(thread)

block append scripts
  script(src="/scripts/thread.js", type="text/javascript")